<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de personas</title>
</head>
<body>
    
    <p>Listado de persona</p>

    <ul>
        
        {% for persona in listado_personas %}

            <li> Nombre: {{persona.nombre}} </li>
            <li> Camiseta: {{persona.camiseta}} </li>
            <li> Nacimiento: {{persona.nacimiento|date:"d-m-Y"}} </li>
            <br/>

        {% endfor %}

    </ul>

</body>
</html>